.movieText {
   color: #3040A0;
   text-align: left;
   font-size: large;
}

.movieHeading {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #3040A0;
   text-decoration: underline;
   text-align: left;
   font-size: x-large;
   padding-left: 20px;
}